@charset "UTF-8";

div.wrapper
{
	overflow: hidden;
}

div.property-list
{
}

	div.property-list h2
	{
		font-family: Times new roman, times, georgia, serif;
		font-size: 22px;
		margin: 0 10px 20px 15px;
		color: #555;
		font-weight: normal;
	}
	
	div.property-list article
	{
		float: left;
		margin: 5px;
		width: 160px;
        height: 120px;
		overflow: hidden;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		padding: 8px;
		color: #555;
	}
	
	div.property-list article:hover
	{
		background: #EEE;	
	}
		
		div.property-list article figure.thumbnail
		{
			float: left;
			position: relative;
			width: 69px;
			height: 69px;
			background: url('/images/background_thumb.png') no-repeat;
			margin-right: 10px; 
		}
		
		    div.property-list article figure.thumbnail .mask
		    {
		        overflow: hidden;
		        width: 65px;
		        height: 65px;
		        margin: 2px;
            }

        div.property-list article figure.thumbnail .overlay
        {
            position: absolute;
            background: top left no-repeat;
            width: 69px;
            height: 69px;
            top: 0;
            left: 0;
        }

        div.property-list article.rental figure.thumbnail .overlay
        {
            background-image: url('../images/rental.png');
        }

        div.property-list article.sale figure.thumbnail .overlay
        {
            background-image: url('../images/sale.png');
        }

		div.property-list article h3
		{
			margin: 0;
			font-weight: bold;
			font-size: 16px;
		}

            div.property-list article h3 a
            {
                text-decoration: none;
                color: inherit;
            }

            div.property-list article h3 a:hover
            {
                color: #f0f0f0;
            }

		div.property-list article meter,
		div.property-list article address
		{
			font-size: 10px;	
		}
