@charset "UTF-8";

/* Banner */
div.banner
{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

	div.banner div.shadow_left,
	div.banner div.content,
	div.banner div.shadow_right
	{
		min-height: 335px;
		float: left;
		width: 19px;
	}
	
	div.banner div.shadow_left
	{
		background: url('/images/shadow_left.png') no-repeat;
	}
	
	div.banner div.shadow_right
	{
		background: url('/images/shadow_right.png') no-repeat;	
	}
	
	div.banner div.content
	{
		background: url('/images/background.jpg') no-repeat;
		width: 901px;
		position: relative;
	}
	
		div.banner div.content div.contact
		{
			float: right;
			background: #FFF;
			width: 160px;
			height: 245px;
			padding: 80px 10px 10px 35px;
			text-align: center;
			font-family: Arial;
		}
		
		div.banner div.content div.contact h1
		{
			margin: 5px 0 8px 0;
		}
		
		div.banner div.content div.contact address
		{
			margin-bottom: 30px
		}
		
		div.banner div.content div.contact p
		{
			text-align: left;
			margin: 0;
			line-height: 16px;
			margin: 8px 0 8px 20px;
			color: #555;
		}
		
		div.banner div.content div.contact p label
		{
			text-indent: -9999px;
			display: block;
			width: 16px;
			height: 16px;
			float: left;
			margin-right: 10px; 
		}
		
		div.banner div.content div.contact p.phone label
		{
			background: url('/images/phone.png');
		}
		
		div.banner div.content div.contact p.fax label
		{
			background: url('/images/fax.png');
		}
		
		div.banner div.content div.contact p.mobile label
		{
			background: url('/images/mobile.png');
		}
	
		div.banner div.content div.figure,
		div.banner div.content div.info_bulle
		{
			position: absolute;
	    	top: 37px;
		}
		
		div.banner div.content div.info_bulle
		{
		    	height: 260px;
			    background: #CCC;
			    color: #333;
			    left: 30px;
			    width: 666px;
		}
			    
		    div.banner div.content div.text
		    {
			    padding: 20px;
			    font-size: small;
			    position: relative;
			    z-index: 10;
			    line-height: 20px;
			    text-align: justify;
		    }
		    
		    div.banner div.content div.triangle
		    {
			    background: url('/images/triangle.png') no-repeat;
			    top: 27px;
			    right: -35px;
			    width: 60px;
			    height: 110px;
			    position: absolute;
		    }
	    
	    div.banner div.content div.figure
	    {
	    	height: 300px;
	    	width: 250px;
	    	left: 492px;
	    }

	    div.banner div.content span.slogan {
	        font-size: 42px;
	        color: #FFF;
	        margin: 260px 10px 0 30px;
	        text-shadow: 1px 1px 10px #000;
	        display: block;
	    }

/* Sub Content */
div.sub_content
{
	background: #FFF url('/images/shadow.png') top center no-repeat;
	padding: 20px 0; 
}

	div.sub_content div.wrapper
	{
		width: 940px;
		margin: 0 auto;
		overflow: hidden;
	}
